<div class="envelope-container">
  <svg class="envelope" viewBox="0 0 200 200">
    <!-- Envelope body -->
    <rect x="10" y="50" width="180" height="100" class="envelope-body" />

    <!-- Gift card -->
    <rect x="30" y="60" width="140" height="80" class="gift-card" />

    <polygon
      points="10,50 100,90 190,50 190,150 10,150"
      class="envelope-body"
    />

    <!-- Envelope lid -->
    <polygon points="10,50 100,110 190,50" class="envelope-lid" />
  </svg>
</div>

<div class="gift-card-text">
  <p>Lieber Flo,</p>
  <p>
    dein Talent Geburtstagskarten so zu schreiben, dass sie auf die Tränendrüsen
    drücken, ist unerreicht. Ich bin nicht besonders gut im Schreiben von Karten
    - daher dieses Jahr einmal etwas ganz anderes 😉
  </p>
  <p>
    Für dein neues Lebensjahr wünsche ich Dir mindestens genauso schöne Momente,
    wie das letzte Jahr Dir schenken konnte - dazu den allgemeinen Cocktail 🍹
    an Glück 🍀, Gesundheit 💊 und Erfolg 🏅. Bewahre Dir dein inneres Kind und
    du wirst immer etwas finden, was Dir Freude bereitet.
  </p>
  <p class="post-scriptum">
    P.S.: Dein Geschenk ist vorbestellt (kommt leider erst im April).
  </p>
  <p>Alles Liebe und Gute zum Geburtstag! <br />🎉🎂🎁</p>
</div>
