:root {
  --surface: #fcf8f8;
  --on-surface: #1c1b1c;
}

body {
  background: var(--surface);
  color: var(--on-surface);
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
}

header {
  text-align: center;
}
